input {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  width: 30%;
  margin-top: 20px;
  padding: 1rem;
}

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px;
}
.btn_container button {
  margin: 10px;
}

.search_button {
  margin-left: auto;
  outline: none;
  border: none;
  font-size: 1.2rem;
}

.search_button {
  padding: 0.5rem 1.2rem;
  margin: 10px;
  border: none;
  background-color: red;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.search_button:hover {
  background-color: black;
}

.Category_button {
  padding: 0.5rem 1.2rem;
  margin: 10px;
  border: none;
  background-color: rgba(200, 0, 255, 0.612);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.skeleton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px;
  gap: 10px;
}

.gallery_containers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px;
  gap: 10px;
  cursor: pointer;
}

.image-container {
  position: relative;
  display: inline-block;
}

.Img_items {
  align-items: center;
  height: 250px;
  width: 280px;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 3px;
  opacity: 0; /* Initially hide the tooltip */
  pointer-events: none; /* Make the tooltip invisible */
  transition: opacity 0.2s ease-in;
}

.image-container:hover .tooltip {
  opacity: 1; /* Show the tooltip on hover */
}



@media only screen and (max-width: 375px) {
  .btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  input {
   
    width: 50%;
    
  }
}




/* --------------------NEON EFFECT--------------------- */

:root {
  --clr-one: rgb(255, 20, 147);
  --clr-two: rgb(127, 255, 0);
  --clr-three: rgb(138, 43, 226);
 
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  
  background: #fdfdfd;
  font-family: "Balsamiq Sans", cursive;
  
}

h1 {
  color: white;
}

p {
  margin-top: 1em;
  color: white;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.neon-button {
  font-size: 0.9rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5em 1em;
  margin: 2rem;
  border-radius: 0.25em;
  position: relative;
}

.neon-button__1 {
  color: var(--clr-one);
  border: var(--clr-one) 0.125em solid;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-one);
  box-shadow: inset 0 0 0.5em 0 var(--clr-one), 0 0 0.5em 0 var(--clr-one);
}

.neon-button__2 {
  color: var(--clr-two);
  border: var(--clr-two) 0.125em solid;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-two);
  box-shadow: inset 0 0 0.5em 0 var(--clr-two), 0 0 0.5em 0 var(--clr-two);
}

.neon-button__3 {
  color:black;
  border: var(--clr-three) 0.125em solid;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-three);
  box-shadow: inset 0 0 0.5em 0 var(--clr-three), 0 0 0.5em 0 var(--clr-three);
}

.neon-button::before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1.5em) rotateX(45deg) scale(0.8, 0.3);
  filter: blur(1.5em);
  opacity: 0.7;
  pointer-events: none;
}

.neon-button.active::before {
  animation: scalingShadow 0.5s ease-in-out;
}

@keyframes scalingShadow {
  0% {
    top: 120%;
    transform: perspective(1.5em) rotateX(45deg) scale(0.8, 0.3);
  }
  50% {
    top: 165%;
    transform: perspective(1.5em) rotateX(45deg) scale(0.75, 0.3);
  }
  100% {
    top: 120%;
    transform: perspective(1.5em) rotateX(45deg) scale(0.8, 0.3);
  }
}

.neon-button__1::before {
  background: var(--clr-one);
}

.neon-button__2::before {
  background: var(--clr-two);
}

.neon-button__3::before {
  background: var(--clr-three);
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button__1::after {
  box-shadow: 0 0 2em 0.5em var(--clr-one);
  background-color: var(--clr-one);
}

.neon-button__2::after {
  box-shadow: 0 0 2em 0.5em var(--clr-two);
  background-color: var(--clr-two);
}

.neon-button__3::after {
  box-shadow: 0 0 2em 0.5em var(--clr-three);
  background-color: var(--clr-three);
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}

.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}

.neon-button:hover,
.neon-button:focus {
  outline: none;
  color: var(--clr-bg);
  text-shadow: none;
}

.active {
  animation: animate 0.5s ease-in-out;
}

@keyframes animate {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(0%);
  }
}


















